<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.com.businessstore">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.businessstore.util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            >
       <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".RegisterUserActivityOne">

        </activity>
        <activity android:name=".RegisterUserActivityThree">

        </activity>
        <activity android:name=".RegisterUserActivityTwo">

     </activity>
        <activity android:name=".RegisterUserActivityFour">

        </activity>
        <activity android:name=".RegisterUserActivitySuccess">

        </activity>
        <activity android:name=".ForgetPasswordOneActivity">

        </activity>
        <activity android:name=".ForgetPasswordTwoActivity">

        </activity>
        <activity android:name=".ForgetPasswordThreeActivity">

        </activity>
        <activity android:name=".ForgetPasswordFourActivity">

        </activity>

        <activity android:name=".AccountMainActivity">

        </activity>
        <activity android:name=".OrderMainActivity"

            >

        </activity>

        <activity android:name=".AccountUpadateNameActivity">

        </activity>
        <activity android:name=".AccountUpadatePasswordActivity">

        </activity>
        <activity android:name=".AccountUpadatePhoneNumActivity">

        </activity>
        <activity android:name=".SettingMainActivity">

        </activity>
        <activity android:name=".thirdPartyDomianMianActivity">

        </activity>
        <activity android:name=".thirdPartyDomianTwoActivity">

        </activity>
        <activity android:name=".thirdPartyDomianThreeActivity">

        </activity>
        <activity android:name=".thirdPartyDomianFourActivity">

        </activity>
        <activity android:name=".thirdPartyDomianFiveActivity">

        </activity>
        <activity android:name=".MainSearchActivity">

        </activity>
        <activity android:name=".CommodityUploadActivity">

        </activity>
        <activity android:name=".FeedbackActivity">

        </activity>
        <activity android:name=".MainCommodityDetailsActivity">

        </activity>
        <activity android:name=".TotalRecoveryActivity">

        </activity>
        <activity android:name=".OrderCommodityDetailsActivity">

        </activity>
        <activity android:name=".BigPhotoActivity">

        </activity>

        <activity android:name=".PlusImageActivity">

        </activity>

        <!--解决7.0照相机崩溃问题-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>